*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #252531;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  max-width: 1170px;
  width: 100%;
  background-color: #f6f7fb;
  height: 730px;
  border-radius: 10px;
  padding: 30px;
}

.main-page-wrapper {
  height: 100%;
  display: flex;
}
