.container {
  width: 75%;
  height: 100%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.card_header {
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 15px 20px;
}

.new_card {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  height: 50px;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #fff;
}

.term {
  margin-top: 2px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.term div {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.underLine {
  border-bottom: 2px solid #d0d0d0;
}

.cards_wrapper {
  overflow: auto;
  height: 88%;
  padding: 5px;
}

.cards_wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.cards_wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d0d0d0;
}

.cards_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

input {
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  border: none;
  font-size: 16px;
}
