.card {
  background-color: #fff;
  margin: 0 auto;
  width: 80%;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.term__wrapper {
  display: flex;
  justify-content: space-between;
}

.term__container,
.definition__container {
  width: 45%;
  min-height: 100px;
}

.term__container span,
.definition__container span {
  font-size: 11px;
  color: #707070;
}

.horizontal__line {
  border-right: 1px solid #70707023;
}

.term__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.term__buttons button {
  width: 45%;
  background: none;
  border: 1px solid #70707023;
  border-radius: 8px;
  padding: 10px 0;
}

.correct {
  border: 1px solid #94edcf !important;
}

.wrong {
  border: 1px solid #fe7773 !important;
}
